---
import { slugify } from "@/js/utils.ts";

import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";
import { formatBlogPosts } from "@/js/utils";
import PostCard from "@/components/PostCard.astro";

export async function getStaticPaths() {
  // array of static paths
  const allPosts = await getCollection("blog"); // change to mdx, if it messes with your new learning
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
  const allAuthors = [
    ...new Set(formattedPosts.map((post) => post.data.author).flat()),
  ];

  return allAuthors.map((author) => {
    const authorPosts = formattedPosts.filter(
      (post) => post.data.author === author
    );

    return {
      params: { author: slugify(author) },
      props: { authorName: author, relevantPosts: authorPosts },
    };
  });
}

const { author } = Astro.params;
const { authorName, relevantPosts } = Astro.props;

interface Props {
  posts: CollectionEntry<"blog">[];
  authorName: string;
}
---

<MainLayout title={authorName}>
  <section class="container" aria-label=`Posts written by ${authorName}`>
    <h1 class="h1">Posts written by <span>{authorName}</span></h1>
    <div class="post-container"></div>
    {
      relevantPosts.map(({ data, url }) => (
        <PostCard {data} {url}>
          {" "}
        </PostCard>
      ))
    }
  </section>
</MainLayout>
