---
import { Image } from "@astrojs/image/components";
import { slugify, formatDate } from "../js/utils";
const { title, description, date, category, author, image } = Astro.props;
---

<header>
  <div class="container">
    <small
      ><a href={`/category/${slugify(category)}/`} class="badge">{category}</a
      ></small
    >
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> - {
        formatDate(date)
      }
    </p>
  </div>
  <Image
    width={1200}
    height={800}
    src={image.src}
    alt={image.alt}
    format="webp"
    fit="cover"
    position="center"
    quality={90}
    class="hero-image"
  />
</header>
