---
// component imports
import { Image, Picture } from "@astrojs/image/components";
import { slugify, formatDate } from "../js/utils";
import BlogPostLayout from "~/layouts/BlogPostLayout.astro";
import Link from "./Link.astro";

const base = import.meta.env.BASE_URL.slice(0, -1);

const { data, slug } = Astro.props;
const { category, title, author, date, image, description } = data;
---

<article class="card">
  <small
    ><a href={`${base}/category/${slugify(category)}/`} class="badge"
      >{category}</a
    ></small
  >
  <a href={`${base}/blog/${slug}`} aria-hidden="true" tabindex="-1">
    <Image
      width={700}
      height={300}
      src={image.src}
      alt={image.alt}
      format="webp"
      quality={90}
      class="hero-image"
      fit="cover"
    />
  </a>

  <div class="content">
    <div>
      <h3 class="h3">
        <a href={`${base}/blog/${slug}`}>{title}</a>
      </h3>
      <small>
        by <a href={`${base}/author/${slugify(author)}/`}>{author}</a> - {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>

    <Link href={`${base}/blog/${slug}`} text="Read Post" style="secondary" />
  </div>
</article>
