---
import { slugify, formatDate } from "../js/utils";

const { relatedPosts } = Astro.props;
const BASE_URL = import.meta.env.BASE_URL.slice(0, -1);
---

{
  relatedPosts.map((post) => (
    <div class="post">
      <h3 class="h4">
        <a href={`${BASE_URL}/blog/${post.slug}/`}>{post.data.title}</a>
      </h3>
      <small>
        <a href={`${BASE_URL}/author/${slugify(post.data.author)}/`}>
          {post.data.author}
        </a>{" "}
        • {formatDate(post.data.date)}
      </small>
    </div>
  ))
}
